<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663991779848-a2mrkha2q83o4avct35t59kp6nr5lgps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663991779848-a2mrkha2q83o4avct35t59kp6nr5lgps</string>
	<key>API_KEY</key>
	<string>AIzaSyBnqBn7E5nx5BMk64f7qNYyB69wrwrr_CY</string>
	<key>GCM_SENDER_ID</key>
	<string>663991779848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.8181suisho.ProductHomework</string>
	<key>PROJECT_ID</key>
	<string>producthomework</string>
	<key>STORAGE_BUCKET</key>
	<string>producthomework.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663991779848:ios:a80c715d663afa4eae47bd</string>
	<key>DATABASE_URL</key>
	<string>https://producthomework.firebaseio.com</string>
</dict>
</plist>